

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* PAGINA CALENDARIO */

body{
    background-color: #f5f5f5;
}

.container-tittle{
    margin-top: 1em;
    text-align: center;
}

.botones{
    border: 1px solid #A58AD9;
    border-radius: 2em;
    width: 4em;
    height: 3em;
}

.botones:hover{
    background-color: #7E57C2; 
    color:white;
    cursor: pointer;
}
.calendar-container{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
     padding: 1em;
    margin: 2em auto;  
}

.calendar-header{
    background-color: #A58AD9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    padding: 0.123em 0em;
    border-radius: 6px;  
    
}

/*  lunes a Domingo */
.diaSemana{
    background-color: #D1C4E9;
    display: flex;
    justify-content: center;     
    align-items: center;         
    border-radius: 4px;          
    font-weight: bold;
     height:3em;
}
/* numeros */
.dia{
    background-color: #EDE7F6;
     display: flex;
    justify-content: center;     
    align-items: center;         
    border-radius: 4px;     
    font-weight: bold;
     height:4em;
}

/* Para los dias del mes que no corresponden*/ 

.dia:not(.diaValido) {
    opacity: 0.3;
}

.dia-curso:hover {
    background-color: #7E57C2; 
    color:white;
    cursor: pointer;
}

.calendar-daysOfWeek{
    margin-bottom: 0.5em;
}

.calendar-daysOfWeek, .calendar-numbers{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.3125em;
   
}
  

.dia-actual { 
  color: #7E57C2;     
}