ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* PAGINA CALENDARIO */
body {
  background-color: #f5f5f5;
}

.container-tittle {
  margin-top: 1em;
  text-align: center;
  color: #7E57C2;
  animation-name: bounceInLeft;
  animation-duration: 1.5s;
}

.boton-link {
  text-align: center;
  width: 3em;
  height: 3em;
  line-height: 3em;
  background-color: #9575CD;
  border-radius: 24px;
  text-decoration: none;
  color: white;
}

.boton-link.ocultar {
  font-size: 0;
}

.boton-link:hover {
  background-color: #AB7DEB;
  border-bottom: 2px solid #7E57C2;
}

.calendar-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  padding: 2.5em;
  margin: 2em auto;
}

.calendar-header {
  background-color: #A58AD9;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  padding: 0.123em 0em;
  border-radius: 6px;
}

/* lunes a Domingo */
.diaSemana {
  background-color: #D1C4E9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  height: 3.5em;
}

/* numeros */
.dia {
  background-color: #EDE7F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
  height: 4em;
}

.dia,
.dia-curso {
  height: 7.5em;
}

/* Para los dias del mes que no corresponden */
.dia:not(.diaValido) {
  opacity: 0.3;
}

.dia-curso:hover {
  background-color: #7E57C2;
  color: white;
  cursor: pointer;
}

.calendar-daysOfWeek {
  margin-bottom: 0.5em;
}

.calendar-daysOfWeek,
.calendar-numbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3125em;
}

.dia-actual {
  width: 2em;
  height: 1.5em;
  align-items: center;
  text-align: center;
  background-color: #7E57C2;
  border-radius: 16px;
  padding-top: 0.3em;
}

/* PARA LOS LINKS DE LOS CURSOS */
.dia-curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.link-ACurso {
  font-size: 12px;
  text-align: center;
}

.dia-curso-ocultar {
  display: inline;
}

/* RESPONSIVE */
@media screen and (max-width: 320px) {
  h1,
  h2 {
    font-size: 1em;
  }

  .boton-link {
    text-align: center;
    width: 1em;
    height: 1em;
    border-radius: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-tittle {
    animation: none;
  }

  .calendar-container {
    padding: 1em;
    margin-bottom: 3em;
  }

  .calendar-header {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .calendar-container .calendar-daysOfWeek,
  .calendar-container .calendar-numbers {
    font-size: 0.9em;
  }

  .botones {
    width: 3em;
    background-color: #A58AD9;
  }

  .dia {
    width: 100%;
    height: 2.5em;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dia-actual {
    width: 1em;
    height: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  h1,
  h2 {
    font-size: 1.2em;
  }

  .container-tittle {
    animation: none;
  }

  .calendar-container {
    width: auto;
    margin: 0.5em;
    padding: 1em;
    margin-bottom: 3em;
  }

  .calendar-header {
    margin-bottom: 0.5em;
  }

  .calendar-container .calendar-daysOfWeek,
  .calendar-container .calendar-numbers {
    font-size: 0.7em;
  }

  .botones {
    width: 3em;
    background-color: #A58AD9;
  }

  .calendar-numbers .dia,
  .calendar-numbers .dia-curso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5em;
    font-weight: 300;
    position: relative;
  }

  .calendar-numbers .dia-curso {
    background-color: #D1C4E9;
  }

  .dia-curso-ocultar {
    display: none;
  }

  .calendar-numbers .dia-curso .link-ACurso {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .boton-link {
    text-align: center;
    color: black;
    background-color: #A58AD9;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .calendar-container {
    width: 90%;
    padding: 1.5em;
  }

  .diaSemana {
    height: 3em;
  }

  .dia,
  .dia-curso {
    height: 3.5em;
  }

  .boton-link {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
  }
}
