/* PAGINA CALENDARIO */

.body-calendario{
    padding: 1em;
    background-color: #f5f5f5;
}

.calendar-container{
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.calendar-header{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
.diaSemana{
    background-color: pink;
    display: flex;
    justify-content: center;     
    align-items: center;         
    border-radius: 4px;          
    font-weight: bold;
     height:3em;
}
.dia{
    background-color: #e0f7fa;
        display: flex;
    justify-content: center;     
    align-items: center;         
    border-radius: 4px;     
    font-weight: bold;
     height:4em;
}

.dia:hover {
    background-color: black;
    color:white;
    cursor: pointer;
}
.calendar-daysOfWeek, .calendar-numbers{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.3125em;
   
}