body{
     background-image: url("../Imagenes/giftcard_background.JPG");
     background-repeat: no-repeat; /* evita que se repita */
     background-size: cover;       /* hace que cubra toda la pantalla */
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     backdrop-filter: blur(1em);
}
.ventana_confirmada{
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: #ffffff;
  padding: 2em;
  border-radius: 1.2em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}
.ventana_confirmada h2{
  color: #7E57C2;
  margin-bottom: 0.8em;
  font-size: 1.3em;
}

.botones_carrito{
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.botones_carrito a{
  text-decoration: none;
  background-color: #7e57c2;
  color: white;
  padding: 0.5em 1.1em;
  border: none;
  border-radius: 0.6em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.botones_carrito a:hover{
  border: 3px solid #7E57C2;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.boton_inicio a{
 color:white;
 background-color: #9575CD;

}
.boton_otra a{
color:white;
 background-color: #9575CD;
}

@media (max-width: 362px) {
.ventana_confirmada{
font-size: 11px;
}
}
@media (max-width: 298px) {
.ventana_confirmada{
font-size: 9px;
}
}