  /* Estilos generales */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body{
    background-color: rgb(191, 167, 216);   
    height: 100vh; 
    position: relative;
  }

  /* Estilos de los Cusos */
  .block-informacion-curso {
    align-items: center;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;  
    background-color: rgb(191, 167, 216);  
    margin-left: 10%;      
    margin-right: 10%;    
  }

  .block-informacion-curso__descripcion{
    margin-top: 1em; 

  }

  .block-informacion-curso__boton{
    padding: 10px 20px;
    background-color: #a446cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .block-informacion-curso__informacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%; 
    margin: 0.25em auto; 
  }

  .block-informacion-contenidos{
    border-radius: 0.40em;
    margin: auto;
    text-align: start;
    gap: 2em;
    width: 80%;
    padding: 0.25em;
    background-color: rgb(225, 213, 238);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
  }

  .block-informacion-curso__imagen-propiedades{
  width: 400px;
  height: 300px;
  }
  
  .block-informacion-contenidos_temas{
    width: 100%;
    margin-left: 1em;
  }

  details{
    width: 90%;
  }

  summary{
    border: 0.10em solid rgb(62, 14, 90);   
    display: block;
    padding: 0.50em;
    background-color: #f7f7f7;
    cursor: pointer;
    box-sizing: border-box;
  }

  .summary_top{       
    border-radius: 0.25em 0.25em 0 0 ;  
  }

  .summary_bottom{       
    border-radius: 0 0 0.25em 0.25em;  
  }

  .summary-contenidos_desplegable_temas{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    border: 0.10em solid rgb(62, 14, 90);    
    padding: 0.25em;
    width: 100%;
    background-color: #f7f7f7;
  }

  .block-informacion-curso__imagen{
    margin-right: 2em;
  }
  h2{
    width: 80%;
    margin: auto; 
    margin-top: 2em;
  }
  .block-informacion-docente{
    width: 80%;
    background-color: rgb(225, 213, 238);
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 1em;
    padding: 0.25em;
    border-radius: 0.40em;
  }

  .block-informacion-docente_imagen{
    width: 150px; /* Ancho igual a la altura */
    height: 150px; /* Altura igual al ancho */
    border-radius: 50%; /* Crea el círculo */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    margin: 1em 1em 1em 1em;
  }

  h3{
    margin: 0.25em;
  }

  h4{
    color: rgb(48, 48, 48);
    margin: 0.25em;
  }

  .block-informacion-docente_presentacion{
    margin: 0.25em;
  }

  /* Estilos del FOOTER */
  .container-footer{
  background-color: #f4cccc;
    display: flex;
    flex-direction: row; 
  justify-content: space-between; 
  align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
  }

  .datos-equipo {
    text-align: left;

  }
  .datos-equipo li{
  margin-top:0.3em ;
  }

  .redes-sociales {
    text-align: right;
  }

  .menu-inferior{
      display: flex;
      gap: 2em;
  }