/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos de los Cusos */
.block-informacion-curso {
  align-items: center;
  display: flex; 
  flex-direction: row;
  justify-content: center;        
  gap: 20px;
  background-color: rgb(191, 167, 216);            
}

.block-informacion-curso__imagen-propiedades{
width: 300px;
height: 300px;
}


.block-informacion-curso__informacion, .block-informacion-curso__imagen{
  margin: auto;            
  padding: 20px;
}

.block-informacion-curso__boton{
  padding: 10px 20px;
  background-color: #a446cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.block-informacion-contenidos{
  border-radius: 6px;
  margin: auto;
  text-align: start;
  gap: 20px;
  width: 50%;
  padding: 0.25em;
}

summary{
  border: 0.10em solid rgb(62, 14, 90);              
  border-radius: 1em;        
  cursor: pointer; 
  display: list-item;
  padding: 0.50em;
  margin: 0.25em;
  font-weight: bold;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.summary-contenidos_desplegable{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
}

/* Estilos del FOOTER */
.container-footer{
 background-color: #f4cccc;
  display: flex;
  flex-direction: row; 
 justify-content: space-between; 
 align-items: flex-start;
  padding-left: 1em;
  padding-right: 1em;
}

.datos-equipo {
  text-align: left;

}
.datos-equipo li{
 margin-top:0.3em ;
}

.redes-sociales {
  text-align: right;
}

.menu-inferior{
    display: flex;
    gap: 2em;
}