* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*
 input[type="checkbox"] {
            display: none;
        }
        
        /* Estilo base para los botones */
/*  .boton1,.boton2 {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: #ccc;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
/* # el numeral sirve para seleccionar la id,como el punto para la class, :checked permite reconocer cuando un checkbox
    esta siendo apretado,y ~ "activara" a todos los Box_preview class QUE ESTEN POR DEBAJO*/
/*  #trigger-boton1:checked ~ .Box_Preview,
      #trigger-boton1:checked ~ .Box_Preview h3{
            background-color: blue;
            color: white;
            font-family: "Times New Roman", serif;
            box-shadow: 0 0 5px 3px rgba(0, 123, 255, 0.5);
        }
      */
.Box_main {
  width: 100%;
  padding: 2.5em;
  display: grid;
  gap: 4.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
}

.Cuadro_Preview {
  height: 30em;
  width: 60em;
  align-self: center;
  border: 0.5em solid black;
  /*Te pone un borde*/
  border-radius: 0.3em;
  /* te lo redondea un poco pa que quede mas bonito*/
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3,1fr);

  .Destinatario {
    grid-column: 1;
    grid-row: 1;
   
  }
  .Monto {
    grid-column: 3;
    grid-row: 3;
    align-self: end;
    justify-self: end;
   

  }
  .Mensaje {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    
  }
}
.Box_Preview{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.Mensaje_vistaPrevia h2{
  font-family: Arial, Helvetica, sans-serif;
  color: magenta;
  display: flex;
  justify-content: center;
}
.Box_form {
    display: flex;
    flex-basis: 80em;
     min-height: 50em;
}

.Box_form form {
  width:100%;
  background-color: white;
  color: blueviolet;
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
.confirmacion{
  display: flex;
  width: 100%;
  height: 2.5em;
  margin-top: -3em;
  justify-content: center;
  gap: 2em;
  .confirmar_carrito button{
  background-color: greenyellow;
  border-radius: 0.5em;
  width: 9em;
  height: 4em;
  color: darkviolet;
  }
  .reset_form{
  
  margin-top: 0.1em;
  button{
  background-color: red;
  height: 3em;
  width: 9em;
  border-radius: 0.5em;
  color: white;

  }}
}
}
.Box_form .form_style {
  display: flex;
  gap: 1em;
  .Formulario_estilo select{
  width: 15em;
  height: 2em;
  }
  .Formulario_estilo_tamaño select{
  width: 3em;
  height: 2em;
  }
}
.Box_form .data{
  display: flex;
  gap:0.5em;
  flex-direction: column;
  width: 100%;
}
.Box_form .data label {
  display: flex;
  align-self: flex-start; /* separa texto a la izq, input a la der */
  gap: 0.5rem;
  
}
.Box_form .data input {
  width: 90%;
  height: 2em;
  border-radius: 0.5em ;
}



.Box_form .colores {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.Formulario_fondo{
  width: 100%;
  height: 23em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


  .fondo{
  width: 8em;
  height: 8em;
  
  }
  input[type="radio"]:checked ~ .fondo{

     box-shadow: 0 0 0.5em rgba(212, 8, 168, 0.8);
    
    
  }
}
.Formulario_fondo input[type="radio"]{
  display:none;
}

.colores  {
  gap: 1.2em;
  align-self: center;
  .circuloRojo{
  width: 3em;
  height: 3em;
  background-color: red; 
  border-radius: 50%;
  }
  .circuloAmarillo{
  width: 3em;
  height: 3em;
  background-color: yellow; 
  border-radius: 50%;
  }
  .circuloAzul{
  width: 3em;
  height: 3em;
  background-color: blue; 
  border-radius: 50%;
  }
  .circuloVerde{
  width: 3em;
  height: 3em;
  background-color: green; 
  border-radius: 50%;
  }
  .circuloLila{
  width: 3em;
  height: 3em;
  background-color: purple; 
  border-radius: 50%;
  }
  .circuloNaranja{
  width: 3em;
  height: 3em;
  background-color: orange; 
  border-radius: 50%;
  }
  input[type=radio]{
    display: none;
  }
input[type=radio]:checked ~ .color{

    box-shadow: 0 0 0.5em rgba(212, 8, 168, 0.8);
    border:solid 0.2em white;
  }

}