
/* Estilos del HEADER  */
.main-header {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1em;
    flex-wrap: wrap; /* Para que se adapte en pantallas pequeñas */
}

/* Logo */
.main-header .logo {
    flex-shrink: 0;  
}
.main-header .logo-img {
    height: 50px;
    width: auto;
}

/* Barra de navegación */
.navbar {
    flex-grow: 1;
    margin-left: 2em;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5em;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.nav-link {
    color: #555;
    font-weight: 600;
    font-size: 1em;
    padding: 0.5em 0;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    border-bottom: 3px solid #007BFF;
    color: #007BFF;
}

/* Barra de búsqueda */
.main-header .search-bar {
    display: flex;
    flex-grow: 0;
    max-width: 18.75em;
    margin-left: auto;
}
.main-header .search-bar input {
    flex-grow: 1;
    padding: 0.5em 0.75px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

/* PADDIN Y BORDER RADIUS SE REPITE VER  */
.main-header .search-bar .search-button {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
    padding: 0.5em 0.75px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.main-header .search-bar .search-button:hover {
    background-color: #218838;
}


/* FOOTER*/
.container-footer a {
    text-decoration: none;   
    color: #333333;
  
}

.container-footer a:hover{
     color: red;        /*CAMBIAR COLOR, ESTABA PROBANDO*/

}

.container-footer {
    background-color: #f5f5f5; 
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2em;
    flex-wrap: wrap;
    /* gap: 1.5em; No afecta  */
}


/* Lista de datos del equipo */
.datos-equipo ul {
    list-style: none;
    padding-left: 0;
}

.datos-equipo li {
    margin-top: 0.3em;
    color:#333333;
}

/* Menú inferior */
.menu-inferior {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.menu-inferior a {
    color: #333333;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* .menu-inferior a:hover {
    color: #007bff;
    text-decoration: none;
} */

/* Redes sociales */


.redes-sociales p {
    font-weight: bold;
    color: #333333;
}

.redes-sociales a {
    margin-left: 1em;
}

.redes-sociales .social-icon {
    width: 2.1875em;
    height: 2.1875em;
    margin-left: 0.8em;
}


