* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #EDE7F6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #7E57C2;
    text-align: center;
    margin-bottom: 1.5em;
}

a {
    text-decoration: none;
    color: #6a0dad;
}

.container-nav {
    text-align: center;
}

.container-nav img {
    width: 9em;
}

section {
    border: 4px solid #9575CD;
    border-radius: 40px;
    padding: 2em;
    width: 100%;
    max-width: 25em;
    background-color: #ffffff;
}


.form-iniciarSesion {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

}

.caja-input {
    border: 2px solid #9575CD;
    border-radius: 6px;
    width: 100%;
    height: 3em;

}

.olvide-contrasenia {
    text-align: right;
    font-size: 0.9rem;
}

.boton-enviar {
    align-self: center;
    width: 7em;
    height: 3em;
    background-color: #9575CD;
    border: none;
    border-radius: 5px;
    justify-content: center;
}

.boton-enviar:hover {
    border-bottom: 2px solid #7E57C2;
    background-color: #AB7DEB;
}


/*  CREAR CUENTA */

.titulo-crearCuenta {
    margin-bottom: 0.5em;
}

.section-CrearCuenta {
    border: 4px solid #9575CD;
    border-radius: 40px;
    padding: 2em;
    width: 100%;
    max-width: 25em;
    background-color: #ffffff;
}

.caja-input-CC {
    border: 2px solid #9575CD;
    border-radius: 6px;
    width: 100%;
    height: 2em;
    font-size: 1em;
}

/* POPUP EN OLVIDE CONTRASEÑA  */
.popup-confirmacion2 {
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;

  
}

/* Cuando se apreta el boton , que se active  */
.popup-confirmacion2:target {
  display: flex;
}

.popup-contenido2 {
  background: #fff;
  padding: 1.5em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 280px; 
  animation: aparecer 0.4s ease;
    

}

.popup-contenido2 h3 {
 color: #7E57C2;
  margin-bottom: 0.8em;
  font-size: 1.1em;
}

.cerrar-popup {
    display: inline-block;
    margin-top: 1rem;
    background-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.link-registrarse {
    display: flex;
    justify-content: flex-end;
    margin-top: -1em;
    font-size: 0.9rem;
}


/* Responsive - Media querys */
@media screen and (max-width: 480px) {
    section {
        padding: 1.5em;
        border-radius: 20px;
    }

    .caja-input {
        width: 100%;
        height: 3.5em;
        font-size: 0.9em;
    }

    .boton-enviar {
        width: 100%;
        height: 3em;
        font-size: 1em;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    section {
        max-width: 20em;
    }

    .caja-input {
        width: 100%;
    }

    .boton-enviar {
        width: 100%;
    }
}