/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos de los Cusos */
.block-informacion-curso {
  display: flex;         
  gap: 20px;
  background-color: rgb(39, 22, 56);            
}

.block-informacion-curso__imagen-propiedades{
width: 300px;
height: 300px;
}

.block-informacion-curso__imagen
.block-informacion-curso__informacion{
  margin: auto;            
  padding: 20px;
  background: lightblue;
}

.block-informacion-contenidos{
    margin: auto;
    text-align: center;
    gap: 20px;
}

/* Estilos del FOOTER */
.container-footer{
 background-color: #f4cccc;
  display: flex;
  flex-direction: row; 
 justify-content: space-between; 
 align-items: flex-start;
  padding-left: 1em;
  padding-right: 1em;
}

.datos-equipo {
  text-align: left;

}
.datos-equipo li{
 margin-top:0.3em ;
}

.redes-sociales {
  text-align: right;
}

.menu-inferior{
    display: flex;
    gap: 2em;
}